<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for(var message of messages) { %>
      <li><%= message.user %></li>
      <li><%= message.text %></li>
      <li><%= message.added %></li>
    <% } %>
  </body>
</html>

<!-- finished -->